<h2>Oto wojownicy z największą ilością zwycięstw:</h2>
<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
               Wojownik 
            </th>
            <th>
                 Zwycięstwa
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each warriors}}
            <tr>
                <th>
                    {{calculateRound @index}}
                </th>
                <td>
                    {{this._name}}
                </td>
                <td>
                    {{this._victories}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{> back-to-home}}