<h2>Witaj na arenie śmiałku!</h2>
<h4>Wybierz wojowników do walki:</h4>
<form action="/arena" method="POST">
<label>Pierwszy wojownik
<select name="first-warrior">
    {{#each warriors}}
    <option value="{{this._id}}">{{this._name}}</option>
    {{/each}}
</select>
</label>
<label>Drugi wojownik
<select name="second-warrior">
    {{#each warriors}}
    <option value="{{this._id}}">{{this._name}}</option>
    {{/each}}
</select>
</label>
<button>Walka!</button>
</form>

{{> back-to-home}}