<h1>Witaj! Wybierz swoje działanie:</h1>
<ul>    
    <li>
        <a href="/warrior">Utwórz wojownika</a>
    </li>
    <li>
        <a href="/arena">Arena</a>
    </li>
    <li>
        <a href="/fame">Sala sławy</a>
    </li>
</ul>