<ul>
    <li>
        <a href="/">Menu</a>
    </li>
    <li>
        <a href="/warrior">Utwórz wojownika</a>
    </li>
    <li>
        <a href="/arens">Arena</a>
    </li>
    <li>
        <a href="/fame">Sala sławy</a>
    </li>
</ul>