<h2>Rejestracja wojownika</h2>
<form action="/warrior" method="POST">
<label>Imię: <input type="text" name="name"></label>
<label>Siła: <input type="number" step="1" name="strength"></label>
<label>Obrona: <input type="number" step="1" name="defense"></label>
<label>Wytrzymałość: <input type="number" step="1" name="endurance"></label>
<label>Zwinność: <input type="number" step="1" name="agility"></label>
<button>Zarejestruj!</button>
</form>
{{> back-to-home}}
